body {
    font-family: Arial;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: lightgray;
}

ul {
    list-style-type: none;
}